<div class="row">
	<section class="main col-md-12">
		<article>
			<br/>
			<br/>
			<h2>Alexander Mann - "The Developer"</h2>
			<br/>
			<br/>
			<p>Hello Visitor,</p>
			<br/>
			<p>My name is Alexander Mann. I am thrid-semeseter student in the Computer Progamming and Analysis program at Seneca College.</p>
			<br/>
			<p>I am unsure of what language I would like to work with professionally, so why not become a Full-Stack Developer! :)</p>
			<br/>
			<br/>
			<p>Your truly,<br>Alexander Mann</p>
			<br/>
			<br/>
		</article>
	</section>
</div>