<div class="row">
	<section class="main col-md-12">
		<article>
			<h2>Alexander Mann - "the developer"</h2>
			<p>Hello,</p>
			<p>My name is Alexander Mann. I am currently in my third semester in the CPA program at Seneca College.</p>
			<p>I am hoping to work with OOP when I graduate!</p>
			<p>Sincerely,<br>Alexander Mann</p>
		</article>
	</section>
</div>