<!DOCTYPE html>
<html lang="en">
  
<head>
   <meta charset="UTF-8" />
   <title>About</title>
   <link rel="stylesheet" href="https://cdn.rawgit.com/WEB222-Samples/Utilities/master/bootstrap-md-grid/bootstrap-md-grid.css" type="text/css" />
   <link rel="stylesheet" href="public/css/site.css" type="text/css" />
</head>
<body>
	<header>
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>myApp</h1>
				</div>
			</div>
		</div>
      </header>
     <nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li> <a href="/"> Home </a> </li>
                        <li> <a href="/about"> About </a> </li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
   <div class="container">
	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2>Alexander Mann - "the developer"</h2>
					<p>Hello,</p>
					<p>My name is Alexander Mann. I am currently in my third semester in the CPA program at Seneca College.</p>
					<p>I am hoping to work with OOP when I graduate!</p>
					<p>Sincerely,</br>Alexander Mann</p>
					</article>
				</section>
		</div>
	</div>
   <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>© 2017 - Alexander Mann</h2>
			</div>
		</div>
	</div>
   </footer>
</body>

</html>